.basket {
  width: 90%;
  min-height: 60vh;
  margin: 40px auto; }
  .basket__list {
    display: flex;
    flex-direction: column; }
  .basket__item {
    width: 100%;
    min-height: 250px;
    border-top: 1px solid rgba(37, 37, 38, 0.1);
    border-bottom: 1px solid rgba(37, 37, 38, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; }
  .basket__image {
    max-width: 100%;
    max-height: 300px;
    object-fit: scale-down;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .basket__image-block {
    width: 15%;
    height: 300px;
    position: relative; }
  .basket__text {
    width: 40%; }
  .basket__name {
    margin-bottom: 10px;
    font-weight: 400; }
  .basket__descr {
    color: rgba(37, 37, 38, 0.8); }
  .basket__count-type {
    text-align: center;
    margin-bottom: 10px;
    color: rgba(37, 37, 38, 0.8); }
  .basket__count {
    width: 70px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around; }
    .basket__count-current {
      font-size: 2.5rem; }
    .basket__count-add, .basket__count-remove {
      background-color: transparent;
      border: none;
      font-size: 3rem;
      color: #009AC6;
      cursor: pointer; }
  .basket__price-title {
    text-align: center;
    margin-bottom: 10px;
    color: rgba(37, 37, 38, 0.8); }
  .basket__price {
    font-size: 2.2rem;
    color: #009AC6;
    text-align: center; }
  .basket__delete i {
    font-size: 1.9rem;
    cursor: pointer; }
  .basket__results {
    width: 90%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center; }
    .basket__results p {
      margin: 1rem 0;
      vertical-align: middle;
      color: rgba(37, 37, 38, 0.7); }
  .basket__checkout {
    padding: 10px 20px;
    background-color: #009AC6;
    color: #f1f1f1;
    cursor: pointer;
    margin: 1rem 0;
    margin-left: 10px; }
    .basket__checkout:hover {
      transition: 0.1s all ease;
      background-color: #252526; }
  .basket__result-price {
    font-size: 2.2rem;
    color: #009AC6;
    text-align: center;
    margin-left: 10px; }

.result-amount {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
