.catalog {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .catalog__item {
    margin: 15px;
    width: 350px;
    height: 480px;
    background-color: #E5E5E7;
    display: flex;
    flex-direction: column;
    transition: 0.15s all ease;
    align-items: center; }
    .catalog__item:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      transition: 0.15s all ease; }
    .catalog__item-image {
      width: 90%;
      padding: 10px 0;
      height: 270px;
      object-fit: contain; }
    .catalog__item-name {
      color: #009AC6;
      font-weight: normal;
      text-align: left;
      width: 85%;
      margin-bottom: 20px; }
    .catalog__item-descr {
      width: 85%;
      color: rgba(37, 37, 38, 0.8); }
    .catalog__item-params {
      margin-top: 15px;
      margin-bottom: 20px;
      width: 85%;
      display: flex;
      justify-content: space-between; }
      .catalog__item-params-dark {
        background-color: rgba(182, 182, 182, 0.5); }
      .catalog__item-params-column {
        width: 50%;
        display: flex;
        flex-direction: column;
        color: #252526; }
        .catalog__item-params-column p {
          padding: 3px; }
      .catalog__item-params-value-column {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: right;
        color: #252526; }
        .catalog__item-params-value-column p {
          padding: 3px; }

.comp-catalog {
  display: flex;
  width: 75vw;
  margin: 40px auto;
  flex-wrap: wrap;
  justify-content: center; }
  .comp-catalog__item {
    width: 450px;
    height: 150px;
    display: flex;
    margin: 20px; }
    .comp-catalog__item-image {
      width: 175px;
      height: 150px;
      object-fit: contain;
      border: 1px solid rgba(37, 37, 38, 0.1); }
    .comp-catalog__item-name {
      heigth: 150px;
      width: 100%;
      padding: 20px;
      background-color: #f5f5f6; }
      .comp-catalog__item-name a {
        color: #009AC6;
        font-size: 1.7rem; }

.converter-categories {
  display: flex;
  width: 70vw;
  margin: 30px auto;
  justify-content: center;
  flex-wrap: wrap; }
  .converter-categories__category {
    width: 100%;
    height: 45vh;
    position: relative;
    margin-bottom: 20px; }
    .converter-categories__category::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.6); }
    .converter-categories__category-image {
      width: 100%;
      height: 100%;
      object-fit: contain; }
    .converter-categories__category-name {
      display: inline-block;
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .converter-categories__category-name a {
        color: #ffffff;
        font-size: 3rem;
        display: block;
        text-align: center; }
