.radiator-categories {
  margin: auto;
  margin-top: 20px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .radiator-categories__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .radiator-categories__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 75vw;
    margin: auto;
    cursor: pointer; }
    .radiator-categories__bottom::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 4;
      transition: 0.3s all ease;
      transform: scale(0); }
    .radiator-categories__bottom:hover::before {
      background-color: rgba(0, 0, 0, 0.7);
      transition: 0.3s all ease;
      transform: scale(1); }
    .radiator-categories__bottom:hover .radiator-categories__complect-name {
      display: block; }
    .radiator-categories__bottom .radiator-categories__item::before {
      display: none; }
  .radiator-categories__item {
    width: 25vw;
    height: 25vw;
    background-size: contain !important;
    position: relative;
    cursor: pointer;
    z-index: 2; }
    .radiator-categories__item::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.3s all ease;
      transform: scale(0); }
    .radiator-categories__item:hover::before {
      background-color: rgba(0, 0, 0, 0.7);
      transition: 0.3s all ease;
      transform: scale(1); }
    .radiator-categories__item:hover .radiator-categories__radiator-name {
      display: block; }
    .radiator-categories__item img {
      position: absolute;
      width: 80%;
      height: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .radiator-categories__item-bottom {
    width: 100%;
    height: 25vw;
    background-size: contain !important;
    position: relative;
    cursor: pointer;
    z-index: 2; }
    .radiator-categories__item-bottom img {
      position: absolute;
      width: 75%;
      height: 75%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .radiator-categories__radiator-name {
    position: absolute;
    font-weight: 300;
    color: #ffffff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
    display: none;
    letter-spacing: 1px; }
  .radiator-categories__complect-name {
    font-weight: 300;
    position: absolute;
    color: #ffffff;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 2.7rem;
    display: none;
    letter-spacing: 1px; }

.item__dark-gray {
  background-color: #DCDCDC !important; }

.item__light-gray {
  background-color: #EBEBEB; }

.description {
  background-size: cover !important;
  height: 100vh;
  width: 100%;
  position: relative; }
  .description::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
  .description__text {
    color: #ffffff;
    font-size: 3.3rem;
    font-weight: 300;
    font-family: 'Merriweather', serif;
    line-height: 5.3rem;
    padding: 0 10px; }
  .description__text-block {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.categories-headline {
  width: 75vw;
  margin: auto;
  color: #252526;
  margin-top: 100px;
  font-size: 3.7rem;
  text-align: center;
  font-weight: 300; }

.our-advantages {
  width: 100%;
  background-color: #35383a;
  color: #ffffff;
  position: relative; }
  .our-advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 75vw;
    position: relative; }
  .our-advantages__item {
    padding: 40px 0;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 10px; }
    .our-advantages__item i {
      display: block;
      text-align: center;
      font-size: 3.5rem;
      margin-bottom: 10px; }
