@media screen and (max-width: 349px) {
  html {
    font-size: 8px; }
  .main-header__nav-point {
    font-size: 1.1rem; }
  .description__text {
    font-size: 1.9rem;
    line-height: 3.5rem; }
  .main-footer__our-contacts {
    font-size: 1.3rem; } }

@media screen and (min-width: 350px) and (max-width: 499px) {
  .description__text {
    font-size: 1.9rem;
    line-height: 3.5rem; }
  html {
    font-size: 8px; }
  .main-footer__our-contacts {
    font-size: 1.5rem; } }

@media screen and (max-height: 600px) {
  .description__text {
    font-size: 1.7rem !important;
    line-height: 3rem !important;
    padding: 0; }
    .description__text-block {
      top: 60%; } }

@media screen and (max-width: 575px) {
  .description {
    height: 80vh; }
    .description__text-block {
      width: 90%;
      padding: 0; }
  .main-header {
    padding: 0; }
  .main-header__categories {
    width: 60vw !important;
    top: 50px; }
  .our-advantages__item {
    width: 30vw; }
  .comp-part__price {
    position: relative;
    padding-bottom: 50px !important; }
  .comp-part__basket {
    margin-top: 5px;
    display: block;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); } }

@media screen and (max-width: 660px) {
  .main-header__nav {
    flex-direction: column;
    align-items: center; }
  .main-header__left-part {
    margin-bottom: 10px; }
  .radiator-categories__item {
    width: 100%;
    height: 60vw; }
  .main-footer__content {
    flex-direction: row;
    justify-content: center; }
  .comp-part__img {
    width: 70% !important; } }

@media screen and (max-width: 1000px) {
  .main-header__categories {
    width: 40vw; }
  .comp-part__img {
    width: 60% !important;
    height: 35vh; }
  .comp-part__card {
    flex-direction: column;
    align-items: center; }
  .comp-part__descr {
    width: 100%; } }

@media screen and (min-width: 500px) and (max-width: 750px) {
  html {
    font-size: 8px; }
  .description__text {
    font-size: 2.7rem; } }

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .description__text {
    font-size: 2.7rem; } }

@media screen and (min-width: 1800px) {
  html {
    font-size: 13px; } }
