@media screen and (max-width: 349px) {
  ul.main-header__categories {
    top: 40px !important; }
  html {
    font-size: 8px; }
  .main-header__nav-point {
    font-size: 1.1rem; }
  .description__text {
    font-size: 1.9rem;
    line-height: 3.5rem; }
  .main-footer__our-contacts {
    font-size: 1.3rem; }
  .results {
    width: 100vw !important; } }

@media screen and (min-width: 350px) and (max-width: 479px) {
  .description__text {
    font-size: 1.9rem;
    line-height: 3.5rem; }
  html {
    font-size: 8px; }
  .main-footer__our-contacts {
    font-size: 1.5rem; } }

@media screen and (max-height: 850px) and (max-width: 1000px) {
  .description {
    height: 100vh !important; }
    .description__text {
      font-size: 1.7rem !important;
      line-height: 3rem !important; }
    .description__text-block {
      width: 95% !important; }
    .description-block {
      top: 70%; }
  .radiator-categories__item {
    width: 87vw !important;
    height: 70vh !important;
    object-fit: scale-down !important;
    background-size: cover !important; } }

@media screen and (max-width: 431px) {
  .main-header__categories {
    top: 48px !important; } }

@media screen and (max-width: 575px) {
  form.checkout-block__form {
    width: 70% !important; }
  #search {
    margin-top: 1rem; }
  .main-header__nav {
    flex-direction: column; }
  .main-header__right-part {
    top: 86px !important; }
  #search-results {
    left: 50% !important;
    transform: translateX(-50%); }
  #success-cart {
    width: 77vw !important; }
  .photo-line {
    height: 25vh; } }

@media screen and (min-width: 350px) and (max-width: 575px) {
  .main-header__logo img {
    height: 20px; }
  .search-block {
    width: 150px; }
  .description {
    height: 80vh; }
    .description__text-block {
      width: 90%;
      padding: 0; }
  .converter-categories__category {
    height: 30vh !important; }
  .main-header__categories {
    width: 60vw !important;
    top: 35px; }
  .our-advantages__item {
    width: 30vw; }
  .comp-part__price {
    position: relative;
    padding-bottom: 50px !important; }
  .comp-part__basket {
    margin-top: 5px;
    display: block;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0); }
  .results {
    width: 80vw !important; } }

@media screen and (max-width: 900px) {
  .radiator-categories__item {
    width: 87vw !important;
    height: 35vh !important;
    background-size: cover !important; }
    .radiator-categories__item img {
      object-fit: scale-down !important; }
  .radiator-categories__item-bottom {
    width: 87vw !important;
    height: 35vh !important;
    background-size: cover !important; }
    .radiator-categories__item-bottom img {
      object-fit: scale-down !important; } }

@media screen and (max-width: 1000px) {
  #success-cart {
    width: 60vw; }
  .main-header__categories {
    width: 40vw; }
  .comp-part__img {
    width: 60% !important;
    height: 35vh; }
  .comp-part__card {
    flex-direction: column;
    align-items: center; }
  .comp-part__descr {
    width: 100%; }
  .results {
    width: 60vw; }
  .basket__item {
    flex-direction: column;
    position: relative; }
  .basket__delete {
    position: absolute;
    top: 30px;
    right: 30px; }
  .basket__image {
    max-width: 100% !important;
    width: auto !important;
    max-height: 300px; }
  .basket__price-title {
    margin-top: 2rem; }
  .basket__name {
    text-align: center; }
  .basket__image-block {
    width: 60% !important; }
  .main-footer__our-contacts li span {
    max-width: 90vw; } }

@media screen and (max-width: 1200px) {
  .main-header__categories {
    width: 40vw; }
  .comp-part__img {
    width: 60% !important;
    height: 35vh; }
  .comp-part__card {
    flex-direction: column;
    align-items: center; }
  .comp-part__descr {
    width: 100%; }
  .results {
    width: 45vw; }
  .main-header__right-part {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(49, 59, 68, 0.7);
    padding: 10px; }
  .main-header__nav-points {
    display: flex;
    justify-content: center; }
  .results {
    right: -30px; } }

@media screen and (min-width: 479px) and (max-width: 750px) {
  html {
    font-size: 8px; }
  .description__text {
    font-size: 2.7rem; } }

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .description__text {
    font-size: 2.7rem; } }

@media screen and (min-width: 1800px) {
  html {
    font-size: 12px; }
  .main-header__categories {
    top: 41px !important; } }
