{% extends "mainApp/wrapper.html" %}

{% block title %}
    {{ component }}
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href={% static 'css/component-parts.css' %}>
{% endblock %}

{% block content %}
    <section class="photo-line" style="background: url('/media/photo-line.png') center center no-repeat"></section>
        <div id="item-info" data-type="components" data-id="{{ component.id }}" data-url="{% url 'add_product_view' %}"></div>
        <section class="comp-part">
            <h2 class="comp-part__name">{{ component.name }}</h2>
            <div class="comp-part__card">
                <img src={{ component.photo.url }} alt="{{ component }}" class="comp-part__img">
                <div class="comp-part__right-part">
                    <p class="comp-part__descr">{{ component.description }}</p>
                    <a class="comp-part__price">Цена: {{ component.price }} р.<a class="comp-part__basket" id="add-cart-btn" onclick="add_to_cart()">В корзину</a></a>

                </div>
            </div>
        </section>
{% endblock %}

