{% extends 'mainApp/wrapper.html' %}

{% block title %}
    {{ radiator.model_name }}
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.filter.css' %}">
{% endblock %}

{% block content %}
    <section class="photo-line" style="background: url('/media/photo-line.png') center center no-repeat"></section>
    <div id="item-info" data-type="aluminium" data-id="{{ radiator.id }}" data-url="{% url 'add_product_view' %}"></div>
    <section class="radiator">

        <h1 class="radiator__name">Радиатор алюминиевый {{ radiator }}</h1>
        <div class="radiator__filter">

            <div class="radiator__view">
                <img class="radiator__photo" src={{ radiator.photo.url }} alt="{{ radiator }}">
                <div class="radiator__price">
                    <span class="radiator__price-value">{{ radiator.price }} р</span>
                    <a class="radiator__basket-adding" id="add-cart-btn" onclick="add_to_cart()">В корзину</a>
                </div>
                <table class="specifications">
                    <caption>Характеристики</caption>
                    <tr>
                        <td class="specifications__name">
                            <p>Мощность (50 / 60 / 70):</p>
                        </td>
                        <td>
                            <p>{{ radiator.power }} Вт</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="specifications__name">
                            <p>Рабочее давление:</p>
                        </td>
                        <td>
                            <p>{{ radiator.pressure }} атм</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="specifications__name">
                            <p>Вес:</p>
                        </td>
                        <td>
                            <p>{{ radiator.weight }} кг</p>
                        </td>
                    </tr>
                </table>

            </div>
            <div class="radiator__parameters">
                <div class="radiator__parameters-top">
                    <div class="radiator__measurings" id="filter-block">
                        <div class="radiator__measurings-left">

                            <p class="radiator__measuring-name">Производитель</p>
                            <div class="custom-select">
                                <button id="radiator-manufacturer" data-unit="" value="{{ radiator.manufacturer }}"
                                        class="custom-select__btn"
                                        onfocus="showList(this)">{{ radiator.manufacturer }}</button>
                                <ul class="custom-select__list">
                                    {% for manufacturer in manufacturers %}
                                        <li onclick="changeValue(this)" data-value="{{ manufacturer }}"
                                            class="custom-select__item" id="manufacturer-item">{{ manufacturer }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <p class="radiator__measuring-name">Ширина</p>
                            <div class="custom-select">
                                <button id="radiator-width" data-unit="" value="{{ radiator.width }}"
                                        class="custom-select__btn" onfocus="showList(this)">{{ radiator.width }}
                                </button>
                                <ul class="custom-select__list" id="widths-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.width }}"
                                        class="custom-select__item" id="width-item">{{ radiator.width }}
                                    </li>
                                </ul>
                            </div>

                            <p class="radiator__measuring-name">Глубина</p>
                            <div class="custom-select">
                                <button id="radiator-depth" data-unit="мм" value="{{ radiator.depth }}"
                                        class="custom-select__btn" onfocus="showList(this)">{{ radiator.depth }} мм
                                </button>
                                <ul class="custom-select__list" id="depths-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.depth }}"
                                        class="custom-select__item" id="depth-item">{{ radiator.depth }} мм
                                    </li>
                                </ul>
                            </div>
                            {% if coincidences %}
                                <p class="radiator__measuring-name">По заданным параметрам найдено
                                    радиаторов: {{ coincidences|length }}</p>
                                <div class="custom-select">
                                    <button id="radiator-coincidences" data-unit="" value="{{ radiator.model_name }}"
                                            class="custom-select__btn" onfocus="showList(this)">{{ radiator.model_name }}
                                    </button>
                                    <ul class="custom-select__list" id="coincidences-list">
                                        {% for radiator in coincidences %}
                                           <a onclick="changeValue(this)" data-value="{{ radiator.model_name }}"
                                               class="custom-select__item" id="coincidence-item"
                                               href="{% url 'aluminium_view' radiator.id %}">
                                                {{ radiator.model_name }}
                                            </a>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}


                        </div>
                        <div class="radiator__measurings-right">
                            <p class="radiator__measuring-name">Высота</p>
                            <div class="custom-select">
                                <button id="radiator-height" data-unit="мм" value="{{ radiator.height }}"
                                        class="custom-select__btn" onfocus="showList(this)">{{ radiator.height }} мм
                                </button>
                                <ul class="custom-select__list" id="heights-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.height }}"
                                        class="custom-select__item" id="height-item">{{ radiator.height }} мм
                                    </li>
                                </ul>
                            </div>


                            <p class="radiator__measuring-name">Межосевое расстояние</p>
                            <div class="custom-select">
                                <button id="radiator-distance" data-unit="мм" value="{{ radiator.center_distance }}"
                                        class="custom-select__btn"
                                        onfocus="showList(this)">{{ radiator.center_distance }} мм
                                </button>
                                <ul class="custom-select__list" id="distances-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.center_distance }}"
                                        class="custom-select__item" id="distance-item">{{ radiator.center_distance }} мм
                                    </li>
                                </ul>
                            </div>

                            <p class="radiator__measuring-name">Подключение к трубам</p>
                            <div class="custom-select">
                                <button id="radiator-connection" data-unit="" value="{{ radiator.connection_type }}"
                                        class="custom-select__btn"
                                        onfocus="showList(this)">{{ radiator.connection_type }}</button>
                                <ul class="custom-select__list" id="connections-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.connection_type }}"
                                        class="custom-select__item"
                                        id="connection-item">{{ radiator.connection_type }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="radiator__parameters-bottom">
                    <h3>Описание:</h3>
                    <pre class="radiator__description">{{ radiator.description }}</pre>
                </div>
            </div>
        </div>
    </section>


    {% include 'catalog/includes/see-also.html' %}

{% endblock %}

{% block scripts %}
    <script src={% static 'js/post-filter.js' %}></script>
    <script src={% static 'js/aluminium.js' %}></script>
    <script src={% static 'js/custom-select.js' %}></script>
{% endblock %}