{% extends 'mainApp/wrapper.html' %}

{% block title %}
    {{ radiator.model_name }}
{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.filter.css' %}">
{% endblock %}

{% block content %}
    <section class="photo-line" style="background: url('/media/photo-line.png') center center no-repeat"></section>

    <section class="radiator">
        <div id="item-info" data-type="floor" data-id="{{ radiator.id }}"
             data-url="{% url 'add_product_view' %}"></div>
        <h1 class="radiator__name">Конвектор напольный {{ radiator }}</h1>
        <div class="radiator__filter">

            <div class="radiator__view">
                <img class="radiator__photo" src={{ radiator.photo.url }}>
                <div class="radiator__price">
                    <span class="radiator__price-value">{{ radiator.price }} р</span>
                    <a class="radiator__basket-adding" id="add-cart-btn" onclick="add_to_cart()">В корзину</a>
                </div>

            </div>
            <div class="radiator__parameters">
                <div class="radiator__parameters-top">
                    <div class="radiator__measurings" id="filter-block">
                        <div class="radiator__measurings-left">

                            <p class="radiator__measuring-name">Производитель</p>
                            <div class="custom-select">
                                <button id="radiator-manufacturer" data-unit="" value="{{ radiator.manufacturer }}"
                                        class="custom-select__btn"
                                        onfocus="showList(this)">{{ radiator.manufacturer }}</button>
                                <ul class="custom-select__list">
                                    {% for manufacturer in manufacturers %}
                                        <li onclick="changeValue(this)" data-value="{{ manufacturer }}"
                                            class="custom-select__item" id="manufacturer-item">{{ manufacturer }}</li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <p class="radiator__measuring-name">Высота</p>
                            <div class="custom-select">
                                <button id="radiator-height" data-unit="мм" value="{{ radiator.height }}"
                                        class="custom-select__btn" onfocus="showList(this)">{{ radiator.height }} мм
                                </button>
                                <ul class="custom-select__list" id="heights-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.height }}"
                                        class="custom-select__item" id="height-item">{{ radiator.height }} мм
                                    </li>
                                </ul>
                            </div>
                            <p class="radiator__measuring-name">Ширина</p>
                            <div class="custom-select">
                                <button id="radiator-width" data-unit="мм" value="{{ radiator.width }}"
                                        class="custom-select__btn" onfocus="showList(this)">{{ radiator.width }} мм
                                </button>
                                <ul class="custom-select__list" id="widths-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.width }}"
                                        class="custom-select__item" id="width-item">{{ radiator.width }} мм
                                    </li>
                                </ul>
                            </div>


                        </div>
                        <div class="radiator__measurings-right">


                            <p class="radiator__measuring-name">Длина</p>
                            <div class="custom-select">
                                <button id="radiator-length" data-unit="мм" value="{{ radiator.length }}"
                                        class="custom-select__btn" onfocus="showList(this)">{{ radiator.length }} мм
                                </button>
                                <ul class="custom-select__list" id="lengths-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.length }}"
                                        class="custom-select__item" id="length-item">{{ radiator.length }} мм
                                    </li>
                                </ul>
                            </div>

                            <p class="radiator__measuring-name">Подключение к трубам</p>
                            <div class="custom-select">
                                <button id="radiator-connection" data-unit="" value="{{ radiator.connection_type }}"
                                        class="custom-select__btn"
                                        onfocus="showList(this)">{{ radiator.connection_type }}</button>
                                <ul class="custom-select__list" id="connections-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.connection_type }}"
                                        class="custom-select__item"
                                        id="connection-item">{{ radiator.connection_type }}</li>
                                </ul>
                            </div>
                            {% if coincidences %}
                                <p class="radiator__measuring-name">По заданным параметрам найдено
                                    радиаторов: {{ coincidences|length }}</p>
                                <div class="custom-select">
                                    <button id="radiator-coincidences" data-unit="" value="{{ radiator.model_name }}"
                                            class="custom-select__btn" onfocus="showList(this)">{{ radiator.model_name }}
                                    </button>
                                    <ul class="custom-select__list" id="coincidences-list">
                                        {% for radiator in coincidences %}
                                           <a onclick="changeValue(this)" data-value="{{ radiator.model_name }}"
                                               class="custom-select__item" id="coincidence-item"
                                               href="{% url 'floor_convector_view' radiator.manufacturer.id radiator.id %}">
                                                {{ radiator.model_name }}
                                            </a>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="radiator__parameters-bottom">
                    <h3>Описание:</h3>
                    <pre class="radiator__description">{{ radiator.description }}</pre>
                    <table class="specifications">
                        <caption>Характеристики</caption>
                        <tr>
                            <td class="specifications__name">
                                {% if radiator.heat_output %}
                                    <p>Выход тепла при &Delta;t = 40 &deg;C:</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if radiator.heat_output %}
                                    <p>{{ radiator.heat_output }} &deg;C</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="specifications__name">
                                {% if radiator.pressure %}
                                    <p>Максимальное рабочее давление (bar):</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if radiator.pressure %}
                                    <p>{{ radiator.pressure }} bar</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="specifications__name">
                                {% if radiator.temperature %}
                                    <p>Максимальная рабочая температура (&deg;C):</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if radiator.temperature %}
                                    <p>{{ radiator.temperature }} &deg;C</p>
                                {% endif %}
                            </td>

                        </tr>
                        <tr>
                            <td class="specifications__name">
                                {% if radiator.surface_temperature %}
                                    <p>Максимальная температура поверхности (&deg;C):</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if radiator.surface_temperature %}
                                    <p>{{ radiator.surface_temperature }} &deg;C</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="specifications__name">
                                {% if radiator.connection %}
                                    <p>Подключение:</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if radiator.connection %}
                                    <p>{{ radiator.connection }}</p>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>


    {% include 'catalog/includes/see-also.html' %}

{% endblock %}

{% block scripts %}
    <script src={% static 'js/post-filter.js' %}></script>
    <script src={% static 'js/floor_convector.js' %}></script>
    <script src={% static 'js/custom-select.js' %}></script>
{% endblock %}