{% extends 'mainApp/wrapper.html' %}

{% block title %}

{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.filter.css' %}">
{% endblock %}

{% block content %}
    <section class="photo-line" style="background: url('/media/photo-line.png') center center no-repeat"></section>

    <section class="radiator">
        <div id="item-info" data-type="steel_tubular_kzto" data-id="{{ radiator.id }}"
             data-url="{% url 'add_product_view' %}"></div>
        <h1 class="radiator__name">Радиатор стальной трубчатый {{ radiator.model_name }}</h1>
        <div class="radiator__filter">

            <div class="radiator__view">
                <img class="radiator__photo" src={{ radiator.photo.url }}>
                <div class="radiator__price">
                    <span class="radiator__price-value">{{ radiator.price }} р</span>
                    <a class="radiator__basket-adding" id="add-cart-btn" onclick="add_to_cart()">В корзину</a>
                </div>
                <h2 class="radiator__specifications-title">Характеристики</h2>
                <div class="radiator__specifications">
                    <div class="radiator__specifications-name">
                        <p>Мощность (70):</p>
                        <p>Рабочее давление:</p>
                        <p>Вес:</p>
                    </div>
                    <div class="radiator__specifications-value">
                        <p>{{ radiator.power }} Вт</p>
                        <p>{{ radiator.pressure }} атм</p>
                        <p>{{ radiator.weight }} кг</p>
                    </div>
                </div>
            </div>
            <div class="radiator__parameters">
                <div class="radiator__parameters-top">
                    <div class="radiator__measurings" id="filter-block">
                        <div class="radiator__measurings-left">

                            <p class="radiator__measuring-name">Производитель</p>
                            <div class="custom-select">
                                <button id="radiator-manufacturer" data-unit="" value="KZTO" class="custom-select__btn"
                                        onfocus="showList(this)">KZTO
                                </button>
                                <ul class="custom-select__list">
                                    {% for manufacturer in manufacturers %}
                                        <li onclick="changeValue(this)" data-value="{{ manufacturer }}"
                                            class="custom-select__item" id="manufacturer-item">{{ manufacturer }}</li>
                                    {% endfor %}
                                    <li onclick="changeValue(this)" data-value="KZTO" class="custom-select__item"
                                        id="manufacturer-item">KZTO
                                    </li>
                                </ul>
                            </div>

                            <p class="radiator__measuring-name">Тип прибора</p>
                            <div class="custom-select">
                                <button id="radiator-appliance-type" data-unit="" value="{{ radiator.appliance_type }}"
                                        class="custom-select__btn"
                                        onfocus="showList(this)">{{ radiator.appliance_type }}</button>
                                <ul class="custom-select__list" id="appliance-types-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.appliance_type }}"
                                        class="custom-select__item"
                                        id="appliance-type-item">{{ radiator.appliance_type }}</li>
                                </ul>
                            </div>

                            <p class="radiator__measuring-name">Длина прибора</p>
                            <div class="custom-select">
                                <button id="radiator-length" data-unit="мм" value="{{ radiator.length }}"
                                        class="custom-select__btn" onfocus="showList(this)">{{ radiator.length }} мм
                                </button>
                                <ul class="custom-select__list" id="lengths-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.length }}"
                                        class="custom-select__item" id="length-item">{{ radiator.length }} мм
                                    </li>
                                </ul>
                            </div>


                        </div>
                        <div class="radiator__measurings-right">


                            <p class="radiator__measuring-name">Монтажный размер</p>
                            <div class="custom-select">
                                <button id="radiator-mounting-size" data-unit="мм" value="{{ radiator.mounting_size }}"
                                        class="custom-select__btn" onfocus="showList(this)">{{ radiator.mounting_size }}
                                    мм
                                </button>
                                <ul class="custom-select__list" id="mounting-sizes-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.mounting_size }}"
                                        class="custom-select__item" id="mounting-size-item">{{ radiator.mounting_size }}
                                        мм
                                    </li>
                                </ul>
                            </div>

                            <p class="radiator__measuring-name">Подключение к трубам</p>
                            <div class="custom-select">
                                <button id="radiator-connection" data-unit="" value="{{ radiator.connection_type }}"
                                        class="custom-select__btn"
                                        onfocus="showList(this)">{{ radiator.connection_type }}</button>
                                <ul class="custom-select__list" id="connections-list">
                                    <li onclick="changeValue(this)" data-value="{{ radiator.connection_type }}"
                                        class="custom-select__item"
                                        id="connection-item">{{ radiator.connection_type }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="radiator__parameters-bottom">
                    <h3>Описание:</h3>
                    <pre class="radiator__description">{{ radiator.description }}</pre>
                </div>
            </div>
        </div>
    </section>


    {% include 'catalog/includes/see-also.html' %}

{% endblock %}

{% block scripts %}
    <script src={% static 'js/post-filter.js' %}></script>
    <script src={% static 'js/steel-tubular-kzto.js' %}></script>
    <script src={% static 'js/custom-select.js' %}></script>
{% endblock %}