.radiator {
  width: 90%;
  margin: auto; }
  .radiator__manufacturers {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0; }
  .radiator__manufacturer {
    margin-right: 10px;
    margin-top: 5px;
    border-bottom: 1px dotted rgba(37, 37, 38, 0.7); }
    .radiator__manufacturer a {
      color: rgba(37, 37, 38, 0.7);
      transiton: 0.15s all ease; }
      .radiator__manufacturer a:hover {
        transiton: 0.15s all ease;
        color: #252526; }
  .radiator__name {
    font-size: 3.2rem;
    margin: 50px 0; }
  .radiator__filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px; }
  .radiator__view {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 32%; }
    .radiator__view img {
      width: 90%;
      height: 350px;
      object-fit: contain; }
  .radiator__price {
    text-align: center;
    vertical-align: middle;
    padding: 20px 0 25px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem; }
  .radiator__price-value {
    font-size: 2rem; }
  .radiator__basket-adding {
    padding: 10px 20px;
    background-color: #009AC6;
    color: #f1f1f1;
    margin-left: 10px; }
    .radiator__basket-adding:hover {
      transition: 0.1s all ease;
      background-color: #252526; }
  .radiator__measurings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 0 40px; }
    .radiator__measurings select {
      margin-bottom: 20px; }
    .radiator__measurings-left {
      width: 47%; }
    .radiator__measurings-right {
      width: 47%; }
  .radiator__measuring-name {
    color: rgba(37, 37, 38, 0.7);
    margin-bottom: 4px; }
  .radiator__specification-name {
    color: rgba(37, 37, 38, 0.7);
    margin-bottom: 10px; }
  .radiator__specification {
    font-size: 2.8rem;
    margin-bottom: 20px; }
  .radiator__specifications {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px; }
    .radiator__specifications-title {
      font-size: 2rem;
      color: rgba(37, 37, 38, 0.9);
      margin-bottom: 15px;
      margin-top: 30px; }
    .radiator__specifications-name p {
      border-bottom: 1px solid rgba(37, 37, 38, 0.3);
      margin-bottom: 20px;
      padding-bottom: 5px;
      font-size: 1.7rem;
      color: rgba(37, 37, 38, 0.8);
      font-weight: bold; }
    .radiator__specifications-value p {
      padding-left: 30px;
      border-bottom: 1px solid rgba(37, 37, 38, 0.3);
      margin-bottom: 20px;
      padding-bottom: 5px;
      font-size: 1.7rem;
      color: rgba(37, 37, 38, 0.7); }
  .radiator__description {
    color: rgba(37, 37, 38, 0.8);
    text-align: justify;
    margin: 15px 0 70px 0;
    white-space: pre-wrap; }
  .radiator__selected-color {
    display: flex; }
    .radiator__selected-color-block {
      width: 20%;
      height: 7vh; }
    .radiator__selected-color-name {
      color: grey;
      margin-left: 10px;
      margin-top: 15px; }
  .radiator__selected-connection {
    display: flex; }
    .radiator__selected-connection-block {
      width: 20%;
      height: 7vh; }
    .radiator__selected-connection-name {
      color: grey;
      margin-left: 10px;
      margin-top: 15px; }
  .radiator__color {
    width: 100%; }
  .radiator__connection {
    width: 47%; }
  .radiator__parameters {
    display: flex;
    flex-direction: column;
    width: 68%;
    flex-wrap: wrap; }
    .radiator__parameters-top {
      display: flex; }
    .radiator__parameters-bottom {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 0 40px;
      position: relative; }

#design-color {
  width: 100%;
  padding: 0 40px 0 0; }

#design-spec {
  justify-content: start; }
  #design-spec .radiator__specification-name {
    margin-bottom: 7px; }

.selection-btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 1.7rem;
  border: 1px solid rgba(37, 37, 38, 0.2);
  border-radius: 7px;
  margin-bottom: 20px;
  background-color: transparent;
  position: relative; }
  .selection-btn::before {
    content: '';
    border: 4px solid transparent;
    border-top: 6px solid #000000;
    position: absolute;
    right: 5px;
    top: 45%; }
  .selection-btn:hover {
    border: 1px solid rgba(37, 37, 38, 0.5);
    transition: 0.15s all ease; }

.filter-select {
  padding: 10px 20px;
  font-size: 1.7rem;
  border: 1px solid rgba(37, 37, 38, 0.2);
  border-radius: 7px;
  transition: 0.15s all ease;
  width: 100%; }
  .filter-select:hover {
    border: 1px solid rgba(37, 37, 38, 0.5);
    transition: 0.15s all ease; }

body {
  position: relative; }

.extended-selection {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: none; }
  .extended-selection__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
    cursor: pointer; }
  .extended-selection__list {
    width: 40%;
    background-color: rgba(37, 37, 38, 0.9);
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    z-index: 1002;
    overflow: scroll;
    overflow-x: hidden;
    height: 75vh; }
    .extended-selection__list::-webkit-scrollbar {
      width: 0; }
    .extended-selection__list {
      -ms-overflow-style: none; }
    .extended-selection__list {
      overflow: -moz-scrollbars-none; }
  .extended-selection__item {
    width: 20%;
    margin: 2.5%; }
  .extended-selection__color-block {
    width: 100%;
    height: 60px;
    cursor: pointer; }
    .extended-selection__color-block:hover {
      box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22); }
  .extended-selection__color-name {
    text-align: center;
    margin-top: 5px;
    color: #ffffff;
    cursor: pointer; }
    .extended-selection__color-name:hover .extended-selection__color-block {
      box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22); }
  .extended-selection__title {
    position: fixed;
    padding: 20px 30px;
    width: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1002;
    color: #ffffff;
    background-color: rgba(37, 37, 38, 0.9);
    border-bottom: 1px solid #f1f1f1;
    margin-top: 12px; }

.extended-selection-con {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  display: none; }
  .extended-selection-con__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
    cursor: pointer; }
  .extended-selection-con__list {
    width: 40%;
    background-color: rgba(37, 37, 38, 0.9);
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    z-index: 1002;
    overflow: scroll;
    overflow-x: hidden;
    height: 75vh; }
    .extended-selection-con__list::-webkit-scrollbar {
      width: 0; }
    .extended-selection-con__list {
      -ms-overflow-style: none; }
    .extended-selection-con__list {
      overflow: -moz-scrollbars-none; }
  .extended-selection-con__item {
    width: 20%;
    margin: 2.5%; }
  .extended-selection-con__color-block {
    width: 100%;
    height: 70px;
    cursor: pointer; }
    .extended-selection-con__color-block:hover {
      box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22); }
  .extended-selection-con__color-name {
    text-align: center;
    margin-top: 5px;
    color: #ffffff;
    cursor: pointer; }
    .extended-selection-con__color-name:hover .extended-selection-con__color-block {
      box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22); }
  .extended-selection-con__title {
    position: fixed;
    padding: 20px 30px;
    width: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1002;
    color: #ffffff;
    background-color: rgba(37, 37, 38, 0.9);
    border-bottom: 1px solid #f1f1f1;
    margin-top: 12px; }

.see-also {
  margin: 50px auto;
  width: 90%; }
  .see-also__title {
    font-size: 2.7rem;
    margin-bottom: 30px;
    color: #4b4b4d; }
  .see-also__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .see-also__item {
    width: 300px;
    border: 1px solid rgba(49, 59, 68, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; }
  .see-also__img {
    width: 100%;
    height: 200px;
    background-size: contain; }
  .see-also__name {
    text-align: center;
    height: 60px;
    padding: 20px 5px 10px 5px;
    vertical-align: middle;
    font-size: 1.7rem; }
  .see-also__more {
    padding: 10px 20px;
    background-color: #009AC6;
    color: #f1f1f1;
    text-align: center;
    width: 50%;
    margin-bottom: 10px; }
  .see-also__price {
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0 15px 0; }

.main-converter__view {
  width: 100%;
  background: url("../Images/floor.jpg") center center no-repeat;
  background-size: 3000px 1000px; }
  .main-converter__view img {
    width: 100%;
    margin: auto; }

.main-converter__parameters {
  width: 100%; }

.main-converter__specifications .radiator__specifications-value p {
  font-size: 1.6rem; }

.main-converter__specifications .radiator__specifications-name p {
  font-size: 1.6rem; }

.main-converter__specifications-title {
  font-size: 2.4rem;
  margin-top: 0; }

.main-converter__name {
  color: #f1f1f1;
  text-transform: uppercase;
  width: 90%;
  margin: 30px auto; }

.main-converter__middle {
  display: flex;
  flex-direction: row;
  margin-top: 70px; }
  .main-converter__middle-left {
    width: 47%; }
  .main-converter__middle-right {
    width: 47%;
    margin-left: 6%; }

.main-converter__measurings {
  padding: 0; }

.main-converter__price span {
  font-size: 2.7rem; }

.main-converter__price a {
  display: block;
  width: 20%;
  margin: 20px auto;
  font-size: 2rem; }

.main-converter__filter {
  margin-top: 50px; }
